:host {
  display: block;
  height: 100%;
  .profile {
    height: 100%;
    .form {
      padding: 15px;
      max-width: 500px;
      .field {
        border-top: 0.84375em solid transparent;
        .label {
          font-weight: 100;
          font-size: 15px;
        }
        .radio-group-row {
          display: inline-flex;
          flex-direction: row;
          .radio-button {
            margin: 5px;
          }
        }
        border-bottom: 0.84375em solid transparent;
      }
    }
  }

  .profile-head {
    width: 360px;
    border-bottom: 1px solid #f4f5f8;
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
    .pic_warp {
      border: 2px solid #f4f5f8;
      padding: 8px;
      border-radius: 50%;
      margin-bottom: 1.2rem;
      .pic {
        width: 80px !important;
        max-width: 80px;
        height: 80px !important;
        max-height: 80px;
        border-radius: 100%;
        vertical-align: middle;
      }
    }

    .name {
      font-size: 1.5rem;
      font-weight: 500;
    }
  }

  .profile-num {
    text-align: center;
    .num {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  .video-item {
    border-bottom: 1px solid #3C4252;
    height: 100px;
    padding-top: 16px;
    padding-bottom: 16px;
    .image-warp {
      width: 120px;
      height: 68px;
    }

    .info {
      height: 68px;
    }
  }
}
