<div *ngIf="infos.length === 0" fxLayout="row" fxLayoutAlign="center center" fxFill>
  <span class="no-messages-text">There are no messages!</span>
</div>

<ng-container *ngIf="infos.length > 0">
  <div class="mail-list" *delayShow="300" [@animateStagger]="{value:'50'}" perfectScrollbar>
    <info-list-item matRipple *ngFor="let info of infos" [model]="info" (click)="click(info)"
                    [@animate]="{value:'*',params:{y:'100%'}}">
      <ng-content></ng-content>
    </info-list-item>
  </div>
</ng-container>
