<div class="upload-file" (blur)="onBlur()">
  <div class="upload-file-invalid text-danger" [hidden]="!invalidFile">{{invalidFileText}}</div>
  <div ngFileDrop class="upload-file-drop-container" [ngClass]="{'file-is-over': fileIsOver}"
       fxLayout="row warp" fxLayoutAlign="center center"
       (click)="ng2FileInputSelect.click()"
       (fileOver)="fileOver($event)"
       (onFileDrop)="onFileDrop($event)">
    <span class="text">{{dropText}}</span>
  </div>
  <div class="upload-file-files" *ngIf="showPreviews && currentFiles.length"
       fxLayout="row warp" fxLayoutAlign="start start">
    <div *ngFor="let file of currentFiles" class="upload-file-file">
      <div class="upload-file-file-name"
           fxLayout="row warp"
           fxLayoutAlign="center center">
        <span class="text">{{file.name}}</span>
      </div>
      <div class="upload-file-remove" (click)="removeFile(file)" *ngIf="removable"
           fxLayout="row"
           fxLayoutAlign="center center">
        <mat-icon class="icon">close</mat-icon>
      </div>
      <img class="pic" src="{{getObjectUrl(file) | async}}" *ngIf="file.type.indexOf('image') !== -1">
      <div class="pic" *ngIf="file.type.indexOf('image') === -1"
           fxLayout="row"
           fxLayoutAlign="center center">
        <mat-icon class="icon">insert_drive_file</mat-icon>
      </div>
    </div>
  </div>
  <input type="file" #ng2FileInputSelect (change)="fileSelected($event)"
         [attr.multiple]="multiple ? true : null" style="display: none">
</div>
