<mat-card class="upload" *ngIf="uploading">
  <mat-card-header>
    <mat-card-title>Upload queue</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ngx-datatable
      class="material ml-0 mr-0"
      [rows]="uploader.queue"
      [columnMode]="'flex'"
      [headerHeight]="50"
      [footerHeight]="0"
      [rowHeight]="'auto'">
      <ngx-datatable-column name="Name" [flexGrow]="3">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.file?.name }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Size" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.file?.size/1024/1024 | number:'.2' }} MB
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Progress" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <mat-progress-bar mode="determinate" value="{{row.progress}}"></mat-progress-bar>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="status" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span *ngIf="row.isSuccess"><mat-icon>check</mat-icon></span>
          <span *ngIf="row.isCancel"><mat-icon>cancel</mat-icon></span>
          <span *ngIf="row.isError"><mat-icon>error</mat-icon></span>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>

    <div class="field">
      <p>Queue progress:</p>
      <mat-progress-bar mode="determinate" value="{{uploader.progress}}"></mat-progress-bar>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="publish">
  <mat-card-header>
    <mat-card-title>Movie publish</mat-card-title>
  </mat-card-header>

  <mat-card-content class="pa-0">
    <mat-horizontal-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="firstFormGroup" [editable]="false">
        <form [formGroup]="firstFormGroup" class="form">
          <ng-template matStepLabel>Upload or input external link</ng-template>

          <div class="field">
            <mat-checkbox [formControl]="firstFormGroup.controls['external']">External Link</mat-checkbox>
          </div>

          <div [formGroup]="link" *ngIf="firstFormGroup.controls['external'].value">
            <mat-form-field style="width: 100%">
              <input matInput placeholder="Movie external address (http://youtube.com)"
                     [formControl]="link.controls['movieUrl']">
              <mat-error
                *ngIf="link.controls['movieUrl'].hasError('required') && link.controls['movieUrl'].touched"
                class="mat-text-warn">You must include a web address.
              </mat-error>
              <mat-error
                *ngIf="link.controls['movieUrl'].hasError('url') && link.controls['movieUrl'].touched"
                class="mat-text-warn">You
                must include a valid web address.
              </mat-error>
            </mat-form-field>

            <div class="field">
              <app-upload-file [multiple]="true" [formControl]="link.controls['cover']"></app-upload-file>
            </div>
          </div>

          <div [formGroup]="upload" *ngIf="!firstFormGroup.controls['external'].value">
            <div class="field">
              <app-upload-file [formControl]="upload.controls['movie']"></app-upload-file>
            </div>
          </div>


          <div class="ctrl-bar" fxLayout="row warp" fxLayoutAlign="end center">
            <button mat-raised-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup" class="form" (submit)="onSubmit()">
          <ng-template matStepLabel>Fill movie info</ng-template>
          <mat-form-field>
            <input matInput placeholder="Title" [formControl]="secondFormGroup.controls['title']">
            <mat-error
              *ngIf="secondFormGroup.controls['title'].hasError('required') && secondFormGroup.controls['title'].touched"
              class="mat-text-warn">You must include a title.
            </mat-error>
            <mat-error
              *ngIf="secondFormGroup.controls['title'].hasError('minlength') && secondFormGroup.controls['title'].touched"
              class="mat-text-warn">Your title must be at least 5 characters long.
            </mat-error>
            <mat-error
              *ngIf="secondFormGroup.controls['title'].hasError('maxlength') && secondFormGroup.controls['title'].touched"
              class="mat-text-warn">Your title cannot exceed 10 characters.
            </mat-error>
          </mat-form-field>

          <mat-form-field style="width: 100%">
            <textarea matInput placeholder="Content" [formControl]="secondFormGroup.controls['content']"></textarea>
            <mat-error
              *ngIf="secondFormGroup.controls['content'].hasError('required') && secondFormGroup.controls['content'].touched"
              class="mat-text-warn">You must include an content.
            </mat-error>
            <mat-error
              *ngIf="secondFormGroup.controls['content'].hasError('maxlength') && secondFormGroup.controls['content'].touched"
              class="mat-text-warn">Your content cannot exceed 10 characters.
            </mat-error>
          </mat-form-field>

          <div class="field">
            <tag-input [formControl]="secondFormGroup.controls['tags']"
                       placeholder="Input your tag space split" [maxItems]="10"></tag-input>
          </div>
          <div class="field">
            <mat-checkbox [formControl]="secondFormGroup.controls['canReview']">
              Can review
            </mat-checkbox>
          </div>
          <div class="ctrl-bar" fxLayout="row warp" fxLayoutAlign="end center" fxLayoutGap="10px">
            <button mat-raised-button matStepperNext>Upload</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <div class="done">
          <div class="text">
            <p>
              You are now done, please waiting upload complete.
            </p>
          </div>

          <div class="ctrl-bar" fxLayout="row warp" fxLayoutAlign="end center" fxLayoutGap="10px">
            <button mat-raised-button matStepperPrevious="">Edit</button>
            <button mat-raised-button (click)="cancelPublish()" [disabled]="!uploader.isUploading">Cancel</button>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>
