@import "src/assets/styles/scss/material.variables";
@import "src/assets/styles/scss/mixins/bi-app/bi-app-ltr";
@import "src/assets/styles/scss/app.variables";
@import "src/assets/styles/scss/mixins";

:host {
  display: block;
  padding-top: 50px;
  .ctrl-bar {
    margin-top: 50px;
  }
  .upload {
    width: 800px;
    margin: auto auto 50px;
    .field {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .publish {
    width: 800px;
    margin: auto auto 50px;
    .form {
      padding: 15px;
      .field {
        border-top: 0.84375em solid transparent;
        .label {
          font-weight: 100;
          font-size: 15px;
        }
        .item {

        }
        border-bottom: 0.84375em solid transparent;
      }
    }
    .cover {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.8);
      z-index: 3;
    }
    .done {
      padding: 10px;
      .text {
        width: 80%;
        margin: auto;
        p {
          line-height: 35px;
          font-size: 30px;
          text-align: center;
          word-wrap: break-word;
          width: 100%;
          overflow: auto;
          white-space: pre-line;
          text-overflow: initial;

        }
      }
    }
  }
}
