<a class="nav-link" matRipple>
  <mat-icon class="nav-link-icon" *ngIf="model.icon">{{model.icon}}</mat-icon>
  <span class="nav-link-title">{{model.title}}</span>
  <mat-icon class="collapse-arrow">keyboard_arrow_right</mat-icon>
</a>

<div class="children" [ngClass]="{'open': isOpen}">
  <div>
    <ng-container *ngFor="let item of model.children">
      <nav-horizontal-item *ngIf="item.type=='item'" [model]="item"></nav-horizontal-item>
      <nav-horizontal-collapse *ngIf="item.type=='collapse'" [model]="item"></nav-horizontal-collapse>
    </ng-container>
  </div>
</div>
