<div fxLayout="row warp" fxLayoutAlign="start center">

  <div class="pic" fxFlex="none" fxLayout="row" fxLayoutAlign="start center">
    <img src="{{model.info.coverList.length > 0 ? model.info.coverList[0] : ''}}">
  </div>
  <div class="info" fxFlex="noshrink" fxLayout="column">
    <div class="row-1" fxLayout="row" fxLayoutAlign="start center">
      <div class="pes" fxLayout="row" fxLayoutAlign="start center" fxFlex>
        <img class="avatar" *ngIf="model.info.userProfile?.avatarUrl"
             alt="{{model.info.userProfile?.firstname ? model.info.userProfile?.firstname.length > 0 ?
          model.info.userProfile?.firstname[0] : 'A' : 'A'}}"
             src="{{model.info.userProfile?.avatarUrl}}"/>
        <div class="avatar" *ngIf="!model.info.userProfile?.avatarUrl">
          {{model.info.userProfile?.firstname ? model.info.userProfile?.firstname.length > 0 ?
          model.info.userProfile?.firstname[0] : 'A' : 'A'}}
        </div>
        <span class="username"
              *ngIf="model.info.userProfile?.firstname">{{model.info.userProfile?.firstname}}</span>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="time">{{model.time | date}}</div>
        <div class="actions" fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-sm>
          <ng-content></ng-content>
        </div>
      </div>
    </div>

    <div class="row-2" fxLayout="row" fxLayoutAlign="start center">
      <div fxLayout="column" fxLayoutAlign="start start">
        <div class="subject text-truncate">
          {{model.info.title}}
        </div>
        <div class="message text-truncate">
          {{model.info.content | htmlToPlaintext | slice:0:180}}{{model.info.content?.length > 180 ? '...' : ''}}
        </div>
      </div>
    </div>
  </div>
</div>
