<div>
  <md-card>
    <md-card-title fxLayout="row">
      <span>{{media.title}}</span>
      <span fxFlex></span>
      <span class="mat-text-primary">{{media.likes + " likes" | uppercase}}</span>
    </md-card-title>
    <img md-card-image src="{{media.coverUrl}}">
    <md-card-content>
      <p>{{media.content | slice:0:100}}</p>
    </md-card-content>
    <md-card-actions>
      <div fxLayout="row">
        <button md-icon-button (click)="media.onClickFavorite(media.param)">
          <md-icon>favorite</md-icon>
        </button>
        <span fxFlex></span>
        <button md-raised-button color="warn" (click)="media.onClickWatch(media.param)">Watch</button>
      </div>
    </md-card-actions>
  </md-card>
</div>
