<div>
  <md-card (click)="media.onClickWatch()">
    <md-card-title fxLayout="row">
      <span>{{media.title}}</span>
      <span fxFlex></span>
      <span class="mat-text-primary">{{media.watchCount + " watch" | uppercase}}</span>
    </md-card-title>
    <img md-card-image src="{{media.coverUrl}}">
    <md-card-content>
      <p>{{media.content | slice:0:100}}</p>
    </md-card-content>
    <md-card-actions>
      <div fxLayout="row">
        <span fxFlex></span>
        <a (click.stop)="onClickFavorite()">
          <button md-icon-button>
            <md-icon class="md-24" [color]="isFavorite ? 'primary' : 'block'">favorite</md-icon>
          </button>
          <span>
            {{favorites}}
          </span>
        </a>
      </div>
    </md-card-actions>
  </md-card>
</div>
