<div>
  <mat-card (click)="media.onClickWatch()">
    <mat-card-title fxLayout="row">
      <span class="text-ellipsis" fxFlex="grow">{{media.title}}</span>
      <span class="mat-text-primary" fxFlex="none">{{media.watchCount + " watch" | uppercase}}</span>
    </mat-card-title>
    <img mat-card-image src="{{media.coverUrl}}">
    <mat-card-content>
      <p>{{media.content | slice:0:100}}</p>
    </mat-card-content>
    <mat-card-actions>
      <div fxLayout="row">
        <span fxFlex></span>
        <a (click.stop)="onClickFavorite()">
          <button mat-icon-button>
            <mat-icon class="mat-24" [color]="isFavorite ? 'primary' : 'block'">favorite</mat-icon>
          </button>
          <span>
            {{favorites}}
          </span>
        </a>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
