<div class="cate-list">
  <div class="title-warp">
    <span class="title">热门分类</span>
  </div>
  <mat-chip-list selectable="true">
    <mat-chip *ngFor="let tag of tags" color="accent" (click)="onTagClick(tag)" [selected]="currentTag === tag">
      {{tag.tag}}
    </mat-chip>
  </mat-chip-list>
</div>

<ng-masonry-grid
  [masonryOptions]="{ transitionDuration: '0.8s', gutter: 5 }"
  [useAnimation]="true"
  [useImagesLoaded]="true"
  [scrollAnimationOptions]="{ animationEffect: 'effect-4', minDuration : 0.4, maxDuration : 0.7 }">
  <!-- Masonry Grid Item -->
  <ng-masonry-grid-item id="{{'masonry-item-'+i}}" *ngFor="let media of medias">
    <!-- Grid Content  -->
    <app-media-card [media]="media"></app-media-card>
  </ng-masonry-grid-item>
</ng-masonry-grid>
