<div fxLayoutAlign="center" *ngIf="!loading">
  <div class="video-container">
    <vg-player *ngIf="!external">
      <vg-overlay-play></vg-overlay-play>
      <vg-buffering></vg-buffering>

      <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
      </vg-scrub-bar>

      <vg-controls>
        <vg-play-pause></vg-play-pause>
        <vg-playback-button></vg-playback-button>

        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

        <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

        <vg-mute></vg-mute>
        <vg-volume></vg-volume>

        <vg-fullscreen></vg-fullscreen>
      </vg-controls>

      <video [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin>
        <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
      </video>
    </vg-player>
    <app-framed-content *ngIf="external" [externalUrl]="iframe"></app-framed-content>
    <div class="video-info-warp">
      <h1 class="video-title">
        {{title}}
      </h1>
      <div class="video-info" fxLayout="row" fxLayoutAlign="space-around center">
        <span class="text">{{watchs + '次观看'}}</span>
        <div fxFlex></div>

        <a class="btn" (click)="onThumbUp()">
          <button md-icon-button>
            <md-icon class="md-24" [color]="isThumbUp ? 'primary' : 'block'">thumb_up</md-icon>
          </button>
          <span>
            {{thumbUps}}
          </span>
        </a>
        <a class="btn" (click)="onThumbDown()">
          <button md-icon-button>
            <md-icon class="md-24" [color]="isThumbDown ? 'primary' : 'block'">thumb_down</md-icon>
          </button>
          <span>
            {{thumbDowns}}
          </span>
        </a>
        <a class="btn" (click)="onLike()">
          <button md-icon-button>
            <md-icon class="md-24" [color]="isFavorite ? 'primary' : 'block'">favorite</md-icon>
          </button>
          <span>
            {{favorites}}
          </span>
        </a>
      </div>
      <div class="video-content">

      </div>
      <div class="video-review">

      </div>
    </div>
  </div>
</div>
