<div fxLayoutAlign="center" *ngIf="!loading">
  <div class="video-container">
    <vg-player *ngIf="!external || this.realUrl">
      <vg-overlay-play></vg-overlay-play>
      <vg-buffering></vg-buffering>

      <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
      </vg-scrub-bar>

      <vg-controls [vgAutohide]="true">
        <vg-play-pause></vg-play-pause>
        <vg-playback-button></vg-playback-button>

        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

        <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

        <vg-mute></vg-mute>
        <vg-volume></vg-volume>

        <vg-fullscreen></vg-fullscreen>
      </vg-controls>

      <video [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin>
        <source src="{{url}}" type="video/mp4">
      </video>
    </vg-player>
    <app-framed-content *ngIf="external && !this.realUrl" [externalUrl]="url"></app-framed-content>
    <div class="video-info-warp">
      <h1 class="video-title">
        {{title}}
      </h1>
      <div class="video-info" fxLayout="row" fxLayoutAlign="space-around center">
        <span class="text">{{watchCount + '次观看'}}</span>
        <div fxFlex></div>

        <a class="btn" (click)="onThumbUp()">
          <button mat-icon-button>
            <mat-icon class="mat-24" [color]="isThumbUp ? 'primary' : 'block'">thumb_up</mat-icon>
          </button>
          <span>
            {{thumbUps}}
          </span>
        </a>
        <a class="btn" (click)="onThumbDown()">
          <button mat-icon-button>
            <mat-icon class="mat-24" [color]="isThumbDown ? 'primary' : 'block'">thumb_down</mat-icon>
          </button>
          <span>
            {{thumbDowns}}
          </span>
        </a>
        <a class="btn" (click)="onLike()">
          <button mat-icon-button>
            <mat-icon class="mat-24" [color]="isFavorite ? 'primary' : 'block'">favorite</mat-icon>
          </button>
          <span>
            {{favorites}}
          </span>
        </a>
      </div>
      <div class="video-content">

      </div>
      <div class="video-review">

      </div>
    </div>
  </div>
</div>
